body {
  background: #FFF;
  font-family: Helvetica, Arial, san-serif;
  color: #333;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align:center;
}
#container {
  width: 800px;
  margin: 0px auto;
}
h1 {
  font-size: 12px;
  font-weight:bold;
  font-family: Inconsolata, Monaco, Courier, monospace;
  color:#2D4B71;
}
p {
  line-height: 140%;
}
a:link, a:visited {
  color:#CB503C;
}
a:hover {
  text-decoration:none;
}
strong {
  color: #2D4B71;
}
.description {
  font-size: 16px;
  width: 400px;
  margin: 0 auto;
}

h3.latest {
  font-size: 20px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
}
.latest-posts {
  border-bottom: 1px solid #CCC;
  padding: 0px 0px 10px 0px;
}
.latest-posts ol {
  list-style-type: none;
}
.latest-posts ol li {
  font-size: 18px;
}
li a:link, ol li a:visited {
  font-weight: bold;
  color:#350D1D;
}
ol li span {
  color:#C8C8C8;
  font-style: italic;
}
#copy {
  padding: 20px 0px;
  font-size: 10px;
}