body {
  background: #FFF;
  font-family: Helvetica, Arial, san-serif;
  color: #333;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align:center;
}
a img {
  border: none;
}
#container {
  width: 800px;
  margin: 0px auto;
}
h1 {
  font-size: 12px;
  font-weight:bold;
  font-family: Inconsolata, Monaco, Courier, monospace;
  color:#2D4B71;
}
.blog #logo {
  float:left;
}
#main {
  clear:both;
}
.blog #main {
  padding: 0px 0px 20px;
  margin: 0px 0px 20px 20px;
  border-bottom: 1px solid #CCC;
  text-align: left;
}
.blog h1 {
  padding: 60px 20px;
}
p {
  line-height: 140%;
}
a:link, a:visited {
  color:#CB503C;
}
a:hover {
  text-decoration:none;
}
strong {
  color: #2D4B71;
}
.description {
  clear: both;
  font-size: 16px;
  width: 400px;
  margin: 0 auto;
}

h3.latest {
  font-size: 20px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
}
.latest-posts {
  border-bottom: 1px solid #CCC;
  padding: 0px 0px 10px 0px;
}
.latest-posts ol, #nav ol {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.latest-posts ol li {
  font-size: 18px;
}
ol li {
  padding: 5px 0px;
}
li a:link, ol li a:visited {
  font-weight: bold;
  color:#350D1D;
}
ol li span {
  color:#C8C8C8;
  font-style: italic;
}
#copy {
  padding: 20px 0px;
  font-size: 10px;
}
#nav {
  width: 200px;
  margin-right: 20px;
  float:left;
}
#nav h3 {
  color: #666;
  border-bottom: 1px solid #CCC;
  width: auto;
}
#nav li a {
  display:block;
  color:#991318;
}
#content {
  width: 560px;
  float:left;
}
#content h2 {
  font-size: 24px;
  color: #2D4B71;
}
.post {
  line-height: 160%;
}
.post-meta {
  color:#666;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 5px 0px;
  margin: 5px 0px;
}
#content li {
  padding: 5px 0px;
}
.clear {
  clear:both;
  width: auto;
  line-height: 0px;
}